## Imbalanced Data Handling

There are two technique for handling the imbalanced data it's depends on data which one we have to choose.
1. Upsampling
2. Downsampling

In [12]:
import numpy as np
import pandas as pd

In [20]:
# Set the random seed for reproducbility

np.random.seed(123)

In [28]:
# create the dataframe with two classes

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [29]:
n_class_0,class_1_ratio

(900, 100)

In [32]:
# In this we have make the two feature in each category

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0 ),
    'feature_2' : np.random.normal(loc = 0 , scale =1 , size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'feature_2' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'target' : [1] * n_class_1
})

In [34]:
df = pd.concat([class_0 , class_1]).reset_index(drop=True)

In [36]:
df.head()

   feature_1  feature_2  target
0   1.300921  -2.639568       0
1  -0.930652  -0.199810       0
2  -0.851313  -0.322697       0
3   0.136584   1.526228       0
4  -0.424254  -1.428047       0

In [37]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [38]:
df_minority = df[df['target'] ==1]
df_majority = df[df['target'] ==0]

In [39]:
df_minority.head()

     feature_1  feature_2  target
900   2.301225   1.349116       1
901   1.935051   4.079573       1
902   1.393597   3.445297       1
903   1.771339   1.331946       1
904   3.776112   1.418799       1

In [40]:
df_majority.head()

   feature_1  feature_2  target
0   1.300921  -2.639568       0
1  -0.930652  -0.199810       0
2  -0.851313  -0.322697       0
3   0.136584   1.526228       0
4  -0.424254  -1.428047       0

## Perfoming Upsampling

In [42]:
from sklearn.utils import  resample

In [43]:
df_minority_upsample = resample(df_minority,
                                replace= True,  # sample with replacement
                                n_samples = len(df_majority), # to match the majority class
                                random_state = 42
                               )

In [60]:
df_minority_upsample.shape

(900, 3)

In [61]:
df_minority_upsample.shape

(900, 3)

In [62]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [69]:
df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [70]:
up_sampled

     feature_1  feature_2  target
951   1.803756   1.850229       1
992   0.739604   1.642404       1
914   0.904999   2.818151       1
971   3.507181   0.838009       1
960   3.425993   0.696935       1
..         ...        ...     ...
952   4.026777   1.421568       1
965   2.383004   0.731857       1
976   2.370883   1.344610       1
942   1.297736   2.888538       1
974   0.047459   2.651029       1

[1800 rows x 3 columns]

In [71]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [72]:
df_upsampled.shape

(1800, 3)

## Downsampling

In [73]:
# In this we have make the two feature in each category

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0 ),
    'feature_2' : np.random.normal(loc = 0 , scale =1 , size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'feature_2' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'target' : [1] * n_class_1
})

In [75]:
df = pd.concat([class_0 , class_1 ]).reset_index (drop=True)

In [76]:
df

     feature_1  feature_2  target
0    -1.178457   0.435123       0
1    -0.801016  -0.773493       0
2    -0.730579   0.813067       0
3     0.984417  -0.279205       0
4    -1.055938   1.472848       0
..         ...        ...     ...
995  -0.052874   1.455180       1
996   2.658482   2.054835       1
997   2.096702   1.288703       1
998   1.964598   1.133349       1
999   3.369347   2.655858       1

[1000 rows x 3 columns]

In [77]:
df_minority = df[df['target'] ==1]
df_majority = df[df['target'] ==0]

## Performing Downsampling

In [83]:
df_majority_downsample = resample(df_majority,
                                replace= False,  # sample with replacement
                                n_samples = len(df_minority), # to match the majority class
                                random_state = 42
                               )

In [84]:
df_majority_downsample.shape

(100, 3)

In [88]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [89]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64